Scr/Flow-NodeRed/SCSPiDashboard.json
[{"id":"5af9b7b0.1ab738","type":"ui_text","z":"3cb5fb18.0d68ec","group":"3e01a3b6.2fc6ec","order":1,"width":0,"height":0,"name":"","label":"CPU","format":"{{msg.payload.cpus[0].model}}","layout":"row-spread","x":489,"y":56,"wires":[]},{"id":"cd456d68.3e9da","type":"inject","z":"3cb5fb18.0d68ec","name":"StartDatos","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":106,"y":52,"wires":[["76e2fb76.c7ec44","4dfa1c9c.790174","bca93146.fa846"]]},{"id":"e0c33905.e02988","type":"ui_text","z":"3cb5fb18.0d68ec","group":"3e01a3b6.2fc6ec","order":2,"width":0,"height":0,"name":"","label":"Arquitectura","format":"{{msg.payload.arch}}","layout":"row-spread","x":508,"y":94,"wires":[]},{"id":"dc46e7f2.d00648","type":"ui_text","z":"3cb5fb18.0d68ec","group":"6cf23c98.cc92b4","order":1,"width":0,"height":0,"name":"","label":"HostName","format":"{{msg.payload.hostname}}","layout":"row-spread","x":653,"y":116,"wires":[]},{"id":"c641a24e.5f688","type":"ui_text","z":"3cb5fb18.0d68ec","group":"6cf23c98.cc92b4","order":3,"width":0,"height":0,"name":"","label":"Kernel Version","format":"{{msg.payload.release}}","layout":"row-spread","x":920,"y":158,"wires":[]},{"id":"6d774a23.e32d84","type":"ui_text","z":"3cb5fb18.0d68ec","group":"6cf23c98.cc92b4","order":2,"width":0,"height":0,"name":"","label":"Tipo","format":"{{msg.payload.type}}","layout":"row-spread","x":779,"y":136,"wires":[]},{"id":"38c0ebd7.b190e4","type":"inject","z":"3cb5fb18.0d68ec","name":"delay10","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":92,"y":133,"wires":[["ca9fb273.1910f","c43be7d1.3fabe8","76f9ed44.7fd624"]]},{"id":"14efeb11.028be5","type":"function","z":"3cb5fb18.0d68ec","name":"seg_a_min","func":"var segundos = msg.payload.uptime;\nvar minutos = parseInt(segundos/60); \nmsg.payload = minutos+\"min\";\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":174,"wires":[["8b7d51c3.8f7ed"]]},{"id":"8b7d51c3.8f7ed","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":1,"width":0,"height":0,"name":"","label":"Tiempo arriba","format":"{{msg.payload}}","layout":"row-spread","x":671,"y":174,"wires":[]},{"id":"91902aa3.a59398","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":4,"width":0,"height":0,"name":"","label":"Total","format":"{{msg.payload}}","layout":"row-spread","x":794,"y":261,"wires":[]},{"id":"3f4bf09a.e9813","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":5,"width":0,"height":0,"name":"","label":"Libre","format":"{{msg.payload}}","layout":"row-spread","x":901,"y":280,"wires":[]},{"id":"4dfa1c9c.790174","type":"OS","z":"3cb5fb18.0d68ec","name":"","x":303,"y":115,"wires":[["e0c33905.e02988","dc46e7f2.d00648","6d774a23.e32d84","c641a24e.5f688"]]},{"id":"76e2fb76.c7ec44","type":"CPUs","z":"3cb5fb18.0d68ec","name":"","x":303,"y":55,"wires":[["5af9b7b0.1ab738"]]},{"id":"c43be7d1.3fabe8","type":"Memory","z":"3cb5fb18.0d68ec","name":"","x":312,"y":229,"wires":[["781314d.c8718ec","46e3cc28.64cc44","f3eaf2c7.d2889"]]},{"id":"ca9fb273.1910f","type":"Uptime","z":"3cb5fb18.0d68ec","name":"","x":310,"y":174,"wires":[["14efeb11.028be5"]]},{"id":"781314d.c8718ec","type":"function","z":"3cb5fb18.0d68ec","name":"bytes_a_megas","func":"var total_mem_en_bytes= msg.payload.totalmem;\nmsg.payload = parseInt((total_mem_en_bytes/1024)/1024) + \"Mb\";\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":229,"wires":[["91902aa3.a59398"]]},{"id":"46e3cc28.64cc44","type":"function","z":"3cb5fb18.0d68ec","name":"bytes_a_megas","func":"var total_mem_en_bytes= msg.payload.freemem;\nmsg.payload = parseInt((total_mem_en_bytes/1024)/1024) + \"Mb\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":521,"y":276,"wires":[["3f4bf09a.e9813"]]},{"id":"f3eaf2c7.d2889","type":"function","z":"3cb5fb18.0d68ec","name":"usada_a_porcentaje","func":"var total_mem_usage= msg.payload.memusage;\nmsg.payload = parseInt(total_mem_usage) + \"%\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":542,"y":318,"wires":[["8ccfeab5.5134b8"]]},{"id":"23a8575f.36fda8","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":3,"width":0,"height":0,"name":"","label":"RAM","format":"{{msg.payload}}","layout":"col-center","x":695,"y":230,"wires":[]},{"id":"8ccfeab5.5134b8","type":"ui_gauge","z":"3cb5fb18.0d68ec","name":"","group":"43b5bc6b.f36634","order":6,"width":0,"height":0,"gtype":"wave","title":"Usada","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":316,"wires":[]},{"id":"bca93146.fa846","type":"NetworkIntf","z":"3cb5fb18.0d68ec","name":"","x":316,"y":286,"wires":[["de27757.2b5c488","1d5bd785.19c1d8","3e354de3.666b92"]]},{"id":"de27757.2b5c488","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":9,"width":0,"height":0,"name":"","label":"Ip","format":"{{msg.payload.networkInterfaces.wlan0[0].address}}","layout":"row-spread","x":648,"y":407,"wires":[]},{"id":"587e03ad.6d0a5c","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":7,"width":"0","height":"0","name":"","label":"WLAN","format":"{{msg.payload}}","layout":"col-center","x":461,"y":353,"wires":[]},{"id":"1d5bd785.19c1d8","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":10,"width":0,"height":0,"name":"","label":"Mascara","format":"{{msg.payload.networkInterfaces.wlan0[0].netmask}}","layout":"row-spread","x":764,"y":420,"wires":[]},{"id":"3e354de3.666b92","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":8,"width":0,"height":0,"name":"","label":"Mac","format":"{{msg.payload.networkInterfaces.wlan0[0].mac}}","layout":"row-spread","x":541,"y":386,"wires":[]},{"id":"ba8a6bca.a1c5a8","type":"function","z":"3cb5fb18.0d68ec","name":"Carga_15min","func":"var min1 = parseInt(msg.payload.loadavg[0]);\nvar min5 = parseInt(msg.payload.loadavg[1]);\nvar min15 =parseInt(msg.payload.loadavg[2]);\n\nmsg.payload= \"1min:\"+ min1 + \"%\" + \"   \" + \"5min: \" + min5 + \"%\" + \"15min: \" + min15 + \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":448,"wires":[["6fa39f54.b642e"]]},{"id":"76f9ed44.7fd624","type":"Loadavg","z":"3cb5fb18.0d68ec","name":"","x":302,"y":357,"wires":[["ba8a6bca.a1c5a8"]]},{"id":"6fa39f54.b642e","type":"ui_text","z":"3cb5fb18.0d68ec","group":"43b5bc6b.f36634","order":2,"width":0,"height":0,"name":"","label":"Carga","format":"{{msg.payload}}","layout":"row-spread","x":698,"y":475,"wires":[]},{"id":"c2b10280.52aa9","type":"mqtt in","z":"3cb5fb18.0d68ec","name":"outTopic","topic":"outTopic","qos":"2","broker":"e17e06a9.c36e88","x":67,"y":539,"wires":[["1d6a955f.69e13b","7dcf1242.3398cc","d43c4a1b.07d678","e7db8ad1.df93d8"]]},{"id":"92c76af3.e86d08","type":"ui_gauge","z":"3cb5fb18.0d68ec","name":"peso","group":"a8a32b2b.441558","order":1,"width":"0","height":"0","gtype":"gage","title":"Peso de las cajas","label":"Volts","format":"{{value}}","min":0,"max":"5.0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":393,"y":771,"wires":[]},{"id":"582db5e6.7ef8dc","type":"mqtt out","z":"3cb5fb18.0d68ec","name":"inTopic","topic":"inTopic","qos":"","retain":"","broker":"e17e06a9.c36e88","x":769,"y":655,"wires":[]},{"id":"3c013414.a07c3c","type":"ui_button","z":"3cb5fb18.0d68ec","name":"Stop de emergencia","group":"80f1e81e.cfc8b8","order":2,"width":0,"height":0,"passthru":false,"label":"Stop de emergencia","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":651,"wires":[["582db5e6.7ef8dc"]]},{"id":"1d6a955f.69e13b","type":"function","z":"3cb5fb18.0d68ec","name":"PesarCajas","func":"// initialise the counter to 0 if it doesn't exist already\nvar smallBox = context.get('smallBox')||0;\nvar bigBox = context.get('bigBox')||0;\n\nif (msg.payload == \"r\")\n {\n     bigBox=0;\n     smallBox=0;\n     \n }\n else{\n    if(parseFloat(msg.payload) >= 3.5 && parseFloat(msg.payload) < 5.0){\n    bigBox += 1;\n        }else{\n        if(parseFloat(msg.payload) <= 3.5 && parseFloat(msg.payload) > 0.1){\n        smallBox += 1;    \n        }\n    }\n }\n\n\n\n// store the value back\ncontext.set('bigBox',bigBox);\ncontext.set('smallBox',smallBox);\n// make it part of the outgoing msg object\nmsg.smallBox = smallBox;\nmsg.bigBox = bigBox;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":148,"y":984,"wires":[["54ac833c.1ecc8c","b40e9bc9.b3b9e8"]]},{"id":"54ac833c.1ecc8c","type":"ui_text","z":"3cb5fb18.0d68ec","group":"4714cd02.001914","order":3,"width":0,"height":0,"name":"","label":"Cajas Grandes","format":"{{msg.bigBox}}","layout":"row-spread","x":358,"y":944,"wires":[]},{"id":"b40e9bc9.b3b9e8","type":"ui_text","z":"3cb5fb18.0d68ec","group":"4714cd02.001914","order":2,"width":0,"height":0,"name":"","label":"Cajas Pequeñas","format":"{{msg.smallBox}}","layout":"row-spread","x":359,"y":993,"wires":[]},{"id":"1e7f7799.2a4dc8","type":"ui_toast","z":"3cb5fb18.0d68ec","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Conexion.","name":"Conexion","x":543,"y":527,"wires":[]},{"id":"7dcf1242.3398cc","type":"function","z":"3cb5fb18.0d68ec","name":"Conectada?","func":"var estado= \"No conectado\"\n\nif (msg.payload == \"hello world\")\n {\n     \n     msg.payload=\"SCS Pi Conectado!\"\n     return msg;\n     \n }\nmsg.payload=estado;\n","outputs":1,"noerr":0,"x":301,"y":466,"wires":[["1e7f7799.2a4dc8","49041f3c.aba69"]]},{"id":"49041f3c.aba69","type":"ui_audio","z":"3cb5fb18.0d68ec","name":"Conectado","group":"3e01a3b6.2fc6ec","voice":"en-US","always":"","x":544,"y":581,"wires":[]},{"id":"827e1219.e32d18","type":"usbcamera","z":"3cb5fb18.0d68ec","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"camara","x":359.5,"y":1088,"wires":[["24703b07.2fc7f4"]]},{"id":"c8ddbbe7.ccb17","type":"debug","z":"3cb5fb18.0d68ec","name":"camara","active":false,"console":"false","complete":"payload","x":780,"y":1135,"wires":[]},{"id":"bb0571ec.a11a3","type":"inject","z":"3cb5fb18.0d68ec","name":"enablecam","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":125.5,"y":1067,"wires":[["827e1219.e32d18"]]},{"id":"24703b07.2fc7f4","type":"ui_template","z":"3cb5fb18.0d68ec","group":"100150c8.d83aaf","name":"","order":0,"width":"6","height":"6","format":"<script>\n$( document ).ready(function() {\n    setInterval(function(){ alertFunc(); }, 1000);\n    \n    function alertFunc() {\n         $(\"#img01\").attr(\"src\", \"/image01.jpg?\" + new Date().getTime());\n         console.log(\"re escrita\");\n    }\n\n});\n    \n</script>\n<img id=\"img01\" src=\"/image01.jpg\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":569,"y":1102,"wires":[["c8ddbbe7.ccb17"]]},{"id":"d43c4a1b.07d678","type":"debug","z":"3cb5fb18.0d68ec","name":"","active":false,"console":"false","complete":"false","x":266,"y":533,"wires":[]},{"id":"831d2b5.fbb03d8","type":"function","z":"3cb5fb18.0d68ec","name":"ValidarReset","func":"if (msg.payload == \"7.7777\")\n {\n     \n     msg.payload=1;\n     return msg;\n     \n }\n else\n {\n     msg.payload=0;\n     return msg;\n }\n \n","outputs":1,"noerr":0,"x":191,"y":837,"wires":[["925ce6cb.1baa28","e9c786da.6a8d58"]]},{"id":"925ce6cb.1baa28","type":"debug","z":"3cb5fb18.0d68ec","name":"","active":false,"console":"false","complete":"false","x":389,"y":832,"wires":[]},{"id":"e9c786da.6a8d58","type":"ui_button","z":"3cb5fb18.0d68ec","name":"Reset","group":"80f1e81e.cfc8b8","order":3,"width":0,"height":0,"passthru":true,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"r","payloadType":"str","topic":"","x":152,"y":912,"wires":[["1d6a955f.69e13b"]]},{"id":"e7db8ad1.df93d8","type":"switch","z":"3cb5fb18.0d68ec","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"7.0000","vt":"str"},{"t":"lte","v":"5.0","vt":"str"}],"checkall":"true","outputs":2,"x":210,"y":755,"wires":[["831d2b5.fbb03d8"],["92c76af3.e86d08"]]},{"id":"3e01a3b6.2fc6ec","type":"ui_group","z":"","name":"HardwarePi","tab":"1f7cad21.91b4f3","disp":true,"width":"6"},{"id":"6cf23c98.cc92b4","type":"ui_group","z":"","name":"OSPi","tab":"1f7cad21.91b4f3","order":2,"disp":true,"width":"6"},{"id":"43b5bc6b.f36634","type":"ui_group","z":"","name":"StatusPi","tab":"1f7cad21.91b4f3","order":3,"disp":true,"width":"6"},{"id":"e17e06a9.c36e88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a8a32b2b.441558","type":"ui_group","z":"","name":"Bascula","tab":"a30d7797.97bc58","order":2,"disp":true,"width":"6"},{"id":"80f1e81e.cfc8b8","type":"ui_group","z":"","name":"Estado del sistema","tab":"a30d7797.97bc58","order":1,"disp":true,"width":"6"},{"id":"4714cd02.001914","type":"ui_group","z":"","name":"Conteo de Cajas","tab":"a30d7797.97bc58","order":3,"disp":true,"width":"6"},{"id":"100150c8.d83aaf","type":"ui_group","z":"","name":"Camara","tab":"a30d7797.97bc58","order":4,"disp":true,"width":"6"},{"id":"1f7cad21.91b4f3","type":"ui_tab","z":"","name":"SCSPi","icon":"dashboard"},{"id":"a30d7797.97bc58","type":"ui_tab","z":"","name":"SCPlant","icon":"dashboard"}]